# macOS
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two 
Icon
._*
.Spotlight-V100
.Trashes

# Python / Pulumi
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Pulumi stacks
.pulumi/
Pulumi.*.yaml

# Ansible
*.retry
# Inventory file
ansible/inventory/hosts